
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/APAdminMasterPage.cshtml";
}

 
        <!-- Breadcrumbs-->
        

        <section class="content-header">
            <h1>
                Dashboard
                <small>Work Sheet</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="#">Work Sheet</a></li>
                <li class="active">Work Sheet Detail</li>
            </ol>
            <div class="row"></div>
            <div class="col-md-12 col-xs-12 col-sm-12" style="margin-bottom: 10px;margin-top: 10px;">
                <div class="col-md-4 pull-right">
                    <button type="button" class="btn btn-success pull-right" id="btnAdd">+ Add</button>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">


                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">&nbsp; Work Sheet List</h3>
                          
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div id="tbdata" class="table-responsive">
                                <table class="table table-bordered" id="worksheetTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Date</th>
                                            <th>Client Name</th>
                                            <th>Detail</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>No</th>
                                            <th>Date</th>
                                            <th>Client Name</th>
                                            <th>Detail</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="WorkSheetData"></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>

                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

        <!-- Example DataTables Card-->
     
   


<script src="~/PageJS/WorkSheet/Detail.js"></script>