
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/APMasterPage.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../../Machinery/images/background/2.jpg)">
    <div class="auto-container">
        <h1>About Us</h1>
        <ul class="page-breadcrumb">
            <li><a href="Home/Index">Home</a></li>
            <li>About Us</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- Story Section -->
<section class="story-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Our Story </h2>
        </div>
        <div class="row clearfix">
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <h3>We are in the field of Industrial Diamond Products since - 1985.</h3>
                    <div class="text">
                        After <span class="Age"></span> years in marketing, we took great inclination for manufacturing industrial/CBN product. Since <span class="Age"></span> years, we are catering you through our assorted products, which are now our main business ethics.
                        DIAMOND & CBN INDUSTRIAL PRODUCTS

                        To make Easy & Sure product selection form our  OFF-THE-SELVE range we have given requirement only mentioning ordering code No. & Quantity.
                        In case you requirement do not fall in our Off-the-shelve product range, do not hesitate to contact us at address below. However we would like to clarify that all special requirements will take at least 3 weeks after confirmation of order.
                    </div>
                    <h3>We are providing our Services to :</h3>
                    <div class="text">
                        <ol>
                            <li>1. Engineering Carbide Cutting Tools Mfg. Ind</li>
                            <li>2. Wooden Cutting Tools Ind. </li>
                            <li>3. Brass Parts Mfg. Ind. </li>
                            <li>4. Automobile Ind. </li>
                            <li>5. Dies & Mould Mfg. Ind.</li>
                        </ol>
                    </div>
                    <div class="info">
                        <h4 class="name">N D Solanki</h4>
                        <span class="designation">CEO / Founder</span>
                    </div>
                </div>
            </div>

            <!--Verticle Carousel Column-->
            <div class="carousel-column col-md-6 col-sm-12 col-xs-12">
                <div class="verticle-slider-one">
                    <div class="verticle-carousel">
                        <!--Featured Block Two-->
                        <div class="story-block">
                            <div class="inner-box">
                                <span class="date"> 1985</span>
                                @*<div class="image-box"><img src="images/resource/feature-1.jpg" alt=""></div>*@
                                <h3><a href="#">Started  business in Industrial Diamond Products</a></h3>
                                <div class="text">Started a new business of trading Diamond & CBN Wheels .</div>
                            </div>
                        </div>

                        <!--Featured Block Two-->
                        <div class="story-block">
                            <div class="inner-box">
                                <span class="date">2000</span>
                                @*<div class="image-box"><img src="images/resource/feature-2.jpg" alt=""></div>*@
                                <h3><a href="#">Take part in Exhibition</a></h3>
                                <div class="text">We Participate in ENGIMACH 2000</div>
                            </div>
                        </div>

                        <!--Featured Block Two-->
                        <div class="story-block">
                            <div class="inner-box">
                                <span class="date">2007</span>
                                @*<div class="image-box"><img src="images/resource/feature-1.jpg" alt=""></div>*@
                                <h3><a href="#">Take part in Exhibition</a></h3>
                                <div class="text">We Participate in India Wood 2007.</div>
                            </div>
                        </div>

                        <!--Featured Block Two-->
                        <div class="story-block">
                            <div class="inner-box">
                                <span class="date">2008</span>
                                @*<div class="image-box"><img src="images/resource/feature-2.jpg" alt=""></div>*@
                                <h3><a href="#">Take part in Exhibition</a></h3>
                                <div class="text">We Participate in India Wood 2008.</div>
                            </div>
                        </div>

                        <div class="story-block">
                            <div class="inner-box">
                                <span class="date">2019</span>
                                @*<div class="image-box"><img src="images/resource/feature-2.jpg" alt=""></div>*@
                                <h3><a href="#">Upcoming participation</a></h3>
                                <div class="text">We Plan to Participate in India Tools Delhi 2020.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Story Section -->
<!-- Industry Section -->
<div class="industry-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>WHY CHOOSE US</h2>
        </div>
    </div>
    <div class="industry-carousel owl-carousel owl-theme">
        <!-- Industry Block -->
        <!-- Industry Block -->
        <div class="industry-block">
            <!--<div class="image-box">
                <div class="image"><a href="market-sector-single.html"><img src="images/resource/industry-3.jpg" alt=""></a></div>
            </div>-->
            <div class="lower-content">
                <div class="icon-box"><span class="icon flaticon-industry"></span></div>
                <h3><a href="#">Work Satisfaction</a></h3>
                <!--<div class="text">Expound the actual teaching of the great explorer of the truth, the master.</div>
                <div class="link-box"><a href="market-sector-single.html"><i class="fa fa-hand-o-right"></i>Read More</a></div>-->
            </div>
        </div>

        <!-- Industry Block -->
        <div class="industry-block bg-gray">
            <!--<div class="image-box">
                <div class="image"><a href="market-sector-single.html"><img src="images/resource/industry-4.jpg" alt=""></a></div>
            </div>-->
            <div class="lower-content">
                <div class="icon-box"><span class="icon flaticon-list"></span></div>
                <h3><a href="#">Awesome Support</a></h3>
                <!--<div class="text">Occur in which toil and pain can procure him some great pleasure.</div>
                <div class="link-box"><a href="market-sector-single.html"><i class="fa fa-hand-o-right"></i>Read More</a></div>-->
            </div>
        </div>

        <!-- Industry Block -->
        <div class="industry-block">
            <!--<div class="image-box">
                <div class="image"><a href="market-sector-single.html"><img src="images/resource/industry-5.jpg" alt=""></a></div>
            </div>-->
            <div class="lower-content">
                <div class="icon-box"><span class="icon flaticon-gear"></span></div>
                <h3><a href="#" >Ontime Delivery</a></h3>
                <!--<div class="text">Expound the actual teaching of the great explorer of the truth, the master.</div>
                <div class="link-box"><a href="market-sector-single.html"><i class="fa fa-hand-o-right"></i>Read More</a></div>-->
            </div>
        </div>

        <!-- Industry Block -->
        <div class="industry-block bg-gray">
            <!--<div class="image-box">
                <div class="image"><a href="market-sector-single.html"><img src="images/resource/industry-2.jpg" alt=""></a></div>
            </div>-->
            <div class="lower-content">
                <div class="icon-box"><span class="icon flaticon-robot-arm"></span></div>
                <h3><a>Smart Technology</a></h3>
                <!--<div class="text">Any right to find fault with a man ut who chooses to enjoy a pleasure.</div>
                <div class="link-box"><a href="market-sector-single.html"><i class="fa fa-hand-o-right"></i>Read More</a></div>-->
            </div>
        </div>
    </div>
</div>
<!-- Industry Section -->
<script type="text/javascript">
    $(document).ready(function () {
        GetAge();
    });
    function GetAge() {

        var currentYear = (new Date).getFullYear();
        var Age = currentYear - 1985;
        var words = inWords(Age);       
        $(".Age").text(words);

    }

    var a = ['', 'one ', 'two ', 'three ', 'four ', 'five ', 'six ', 'seven ', 'eight ', 'nine ', 'ten ', 'eleven ', 'twelve ', 'thirteen ', 'fourteen ', 'fifteen ', 'sixteen ', 'seventeen ', 'eighteen ', 'nineteen '];
    var b = ['', '', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];

    function inWords(num) {
        if ((num = num.toString()).length > 9) return 'overflow';
        n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
        if (!n) return; var str = '';
        str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'crore ' : '';
        str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'lakh ' : '';
        str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'thousand ' : '';
        str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'hundred ' : '';
        str += (n[5] != 0) ? ((str != '') ? 'and ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + '' : '';
        return str;
    }

   
                      

                       
</script>