
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/APMasterPage.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../../Machinery/images/background/2.jpg)">
    <div class="auto-container">
        <h1>Customer FAQ’s</h1>
        <ul class="page-breadcrumb">
            <li><a href="Home/Index">Home</a></li>
            <li>About Us</li>
            <li>FAQ’s</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!-- FAQ Section -->
<section class="faq-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Faq Column-->
            <div class="faq-column col-md-8 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <!--Accordian Box-->
                    <ul class="accordion-box">

                        <!--Block-->
                        <li class="accordion block active-block">
                            <div class="acc-btn active"><div class="icon-outer"><span class="icon flaticon-letter-x"></span></div>Useful Tips for Diamond Wheel</div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">
                                        <strong>D</strong> Do not apply higher depth of cut to get proper life of wheel.</br>
                                        <strong>A</strong> Apply coolant when grinding with Metal bonds.</br>
                                        <strong>N</strong> Never grind any steel part with Diamond wheel.</br>
                                        <strong>S</strong> Small contact area between wheel & work piece gives cooler &    greater cutting efficiency.</br>
                                        <strong>O</strong> Open wheel face with dressing stick when wheel is loaded or     clogged.</br>
                                        <strong>N</strong> Never go for cheap wheel as total cost is high.
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block ">
                            <div class="acc-btn "><div class="icon-outer"><span class="icon flaticon-letter-x"></span></div> How to Order a  Wheel ?</div>
                            <div class="acc-content ">
                                <div class="content">
                                    <div class="text">
                                        To completely order or specify a wheel the following has to be given.<br />
                                        1. Shape Of Wheel.:- i.e Type- D11A2 <br />
                                        2. Size Of Wheel.<br />
                                        3. Specification.<br />
                                        Specify Dimension   D,&nbsp;&nbsp;   T,&nbsp;&nbsp;   H,&nbsp;&nbsp;   X,&nbsp;&nbsp;   W/U<br />
                                        Example   :<br />
                                        Type 1A1   :   D- &nbsp;&nbsp;   T-12 &nbsp;&nbsp;   H-31.75 &nbsp;&nbsp;   D/B 126 &nbsp;&nbsp;   Con. 50  X 3<br />
                                        Type 4A2   :   Dia.-150 &nbsp;&nbsp;    W-6  &nbsp;&nbsp;  H-31.75 &nbsp;&nbsp;   D/B 126 &nbsp;&nbsp;   Con. 50  X 1.5<br />
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!--Block-->
                        <li class="accordion block  ">
                            <div class="acc-btn  "><div class="icon-outer"><span class="icon flaticon-letter-x"></span></div>how to get better cutting?</div>
                            <div class="acc-content  ">
                                <div class="content">
                                    <div class="text">The indeed is an important factor on which the grinding efficiency, largely depends. An undue increase of the desired improvement of grinding efficiency, one has to be careful as it is likely to cause shortening of wheel life. Hence it is advisable to follow the guidance given below. In the case of depth of cut and decrease the feeding speed for preventing deviation “from the shape.”</div>
                                </div>
                            </div>
                        </li>



                        <!--
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon flaticon-letter-x"></span></div>We bring together the best people to the world?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</div>
                                </div>
                            </div>
                        </li>


                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon flaticon-letter-x"></span></div>What makes you special from others?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</div>
                                </div>
                            </div>
                        </li>


                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon flaticon-letter-x"></span></div>Why would a successful entrepreneur hire?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</div>
                                </div>
                            </div>
                        </li>

                       Block
    <li class="accordion block">
        <div class="acc-btn"><div class="icon-outer"><span class="icon flaticon-letter-x"></span></div>Why would a successful entrepreneur hire?</div>
        <div class="acc-content">
            <div class="content">
                <div class="text">Mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth.</div>
            </div>
        </div>
    </li> -->
                    </ul>
                </div>
            </div>

            <!-- Form Column -->
            <div class="form-column col-md-4 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Ask Your Questions</h2>
                    </div>
                    <!--Contact Form-->
                    <div class="faq-form">
                        
                            <div class="row clearfix">
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <input type="text" name="username" value="" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <input type="email" name="email" value="" placeholder="Email Address" required>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <input type="text" name="subject" value="" placeholder="Subject" required>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <textarea name="message" placeholder="Your Questions..."></textarea>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <button type="submit" class="theme-btn">Submit Now</button>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End FAQ Section -->
