
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/APMasterPage.cshtml";
}



<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-home-one" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active slide-1" style="background-image: url(../../../Machinery/images/main-slider/1.jpeg);background-position: center center;">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content light" data-animation="animated fadeInUp">
                                <h3 class="title">Warm welcome to</h3>
                                <h1>ABC</h1>
                                <p class="text">Over 35 years experience and knowledge international standards, <br> technologicaly changes and industrial systems.</p>

                            </div><!-- /.main-banner-content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item slide-2" style="background-image: url(../../../Machinery/images/main-slider/2.jpeg);background-position: center center;">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content pull-right ">
                            <div class="main-banner-content light" data-animation="animated fadeInUp">
                                @*<h3 class="title">Industry materials for</h3>
                                    <h1>Machines</h1>
                                    <p class="text">Over 24 years experience and knowledge international standards, <br> technologicaly changes and industrial systems.</p>*@

                            </div><!-- /.main-banner-content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item slide-3" style="background-image: url(../../../Machinery/images/main-slider/3.jpeg);background-position: center center;">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content ">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                @*<h3 class="title">Provide best industrial</h3>
                                    <h1>Solutions</h1>
                                    <p class="text">Over 24 years experience and knowledge international standards, <br> technologicaly changes and industrial systems.</p>
                                    <a href="#" class="theme-btn btn-style-one">Read More</a>
                                    <a href="#" class="theme-btn btn-style-two">Market Sectors</a>*@
                            </div><!-- /.main-banner-content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item slide-3" style="background-image: url(../../../Machinery/images/main-slider/4.jpeg);background-position: center center;">

            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content ">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                @*<h3 class="title">Provide best industrial</h3>
                                    <h1>Solutions</h1>
                                    <p class="text">Over 24 years experience and knowledge international standards, <br> technologicaly changes and industrial systems.</p>
                                    <a href="#" class="theme-btn btn-style-one">Read More</a>
                                    <a href="#" class="theme-btn btn-style-two">Market Sectors</a>*@
                            </div><!-- /.main-banner-content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
        <i class="fa fa-angle-left"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
        <i class="fa fa-angle-right"></i>
        <span class="sr-only">Next</span>
    </a>

    <ul class="carousel-indicators list-inline custom-navigation">
        <li data-target="#minimal-bootstrap-carousel" data-slide-to="0" class="active"></li>
        <!--
        -->
        <li data-target="#minimal-bootstrap-carousel" data-slide-to="1"></li>
        <!--
        -->
        <li data-target="#minimal-bootstrap-carousel" data-slide-to="2"></li>
    </ul>
</div>


<!-- Highlights -->
<!-- End Highlights -->
<!-- Services Section -->
<section class="services-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h4>Our Products</h4>
            <h2> Diamond & CBN Wheels</h2>
        </div>

        <div class="services-carousel owl-carousel owl-theme" width="370px;" height="440px;">



            <!-- Services Block -->
            <div class="services-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img src="~/Content/ProductType/11V9/1.jpg" alt=""></figure>
                        <div class="overlay-box">  <div class="btn-box"> <a href="#" class="11V9"><i class="icon arrow-top-right"></i>Read More</a> </div> </div>
                        <div class="title"><h3>Flaring Cup Wheel (11V9)</h3> <i class="icon flaticon-user-1"></i></div>
                    </div>
                </div>
            </div>

            <!-- Services Block -->
            <div class="services-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img src="~/Content/ProductType/15V9/1.jpg" width="370px;" height="440px;" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="#" class="15V9"><i class="icon arrow-top-right"></i>Read More</a>
                            </div>
                        </div>
                        <div class="title"><h3>Dish Wheel (15V9)</h3> <i class="icon flaticon-user-1"></i></div>
                    </div>
                </div>
            </div>

          
            <div class="services-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img src="~/Content/ProductType/11A2/1.jpg" width="370px;" height="440px;" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="#" class="11A2"><i class="icon arrow-top-right"></i>Read More</a>
                            </div>
                        </div>
                        <div class="title"><h3>Taper Cup Wheel (11A2)</h3> <i class="icon flaticon-user-1"></i></div>
                    </div>
                </div>
            </div>

            <!-- Services Block -->
            <div class="services-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img src="~/Content/ProductType/4A2/1.jpg" width="370px;" height="440px;" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="#" class="4A2"><i class="icon arrow-top-right"></i>Read More</a>
                            </div>
                        </div>
                        <div class="title"><h3>Dish-Diamond in Rim (4A2)</h3> <i class="icon flaticon-user-1"></i></div>
                    </div>
                </div>
            </div>

            <!-- Services Block -->
            <div class="services-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure><img src="~/Content/ProductType/12A2/1.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="#" class="12A2"><i class="icon arrow-top-right"></i>Read More</a>
                            </div>
                        </div>
                        <div class="title"><h3>Dish Wheel (12A2)</h3> <i class="icon flaticon-user-1"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- info box -->
        <div class="info-box">
            <h3>Since 1985, We provide best solutions for our valuable customers.</h3>
            <a href="#"><i class="icon flaticon-email"></i>ABC</a>
        </div>
    </div>
</section>
<!--End Services Section -->


<section class="request-qoute-title-block bg-gray">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h4>Ask Our Expert</h4>
            <h2>Request For Free Quote</h2>
            <div class="text">Your details are kept strictly confidential as per our company privacy policy, Pleasure & praising <br> was we will give you a complete.</div><!-- /.text -->
        </div><!-- /.sec-title -->
    </div><!-- /.auto-container -->
</section><!-- /.request-qoute-block -->
@*<script src="~/PageJS/Home.js"></script>*@

@*<section class="client-carousel-wrapper">
        <div class="auto-container">
            <div class="clients-carousel owl-theme owl-carousel">
                <div class="item">
                    <img src="~/Machinery/images/clients/1-1.png" alt="Awesome Image" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="~/Machinery/images/clients/1-2.png" alt="Awesome Image" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="~/Machinery/images/clients/1-3.png" alt="Awesome Image" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="~/Machinery/images/clients/1-4.png" alt="Awesome Image" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="~/Machinery/images/clients/1-1.png" alt="Awesome Image" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="~/Machinery/images/clients/1-2.png" alt="Awesome Image" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="~/Machinery/images/clients/1-3.png" alt="Awesome Image" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="~/Machinery/images/clients/1-4.png" alt="Awesome Image" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="~/Machinery/images/clients/1-1.png" alt="Awesome Image" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="~/Machinery/images/clients/1-2.png" alt="Awesome Image" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="~/Machinery/images/clients/1-3.png" alt="Awesome Image" />
                </div><!-- /.item -->
                <div class="item">
                    <img src="~/Machinery/images/clients/1-4.png" alt="Awesome Image" />
                </div><!-- /.item -->
            </div><!-- /.clien-carousel -->
        </div><!-- /.auto-container -->
    </section><!-- /.client-carousel-wrapper -->*@
<script src="~/PageJS/Home.js"></script>
